<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967275710060-e7jm7m1vbg2jo3hq4fap4f1dae93s7mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967275710060-e7jm7m1vbg2jo3hq4fap4f1dae93s7mq</string>
	<key>API_KEY</key>
	<string>AIzaSyCgqSkQO_Q5i1cU1fqSbLQZNz5sxl-0-oM</string>
	<key>GCM_SENDER_ID</key>
	<string>967275710060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dvhacks</string>
	<key>PROJECT_ID</key>
	<string>dvhacks-5bd03</string>
	<key>STORAGE_BUCKET</key>
	<string>dvhacks-5bd03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967275710060:ios:7dd6fe4e55ea9701047a49</string>
</dict>
</plist>